<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- doc:http://www.mybatis.org/mybatis-3/configuration.html -->
	
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<!--	typeAliases元素下面配置一个包的别名，通常确定一个类的
				全限定名次，方便下面Mappers中的Mapper文件写类的时候不
				需要写包名
			-->
		<package name="com.adaivskenan.mybatis.learning.model" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis" />
				<property name="username" value="root" />
				<property name="password" value="qinjunjie" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/adaivskenan/mybatis/learning/mapper/CountryMapper.xml" />
	</mappers>
</configuration>